# java-generated
build
*.class
target

# latex-generated
*.aux
*.dvi
*.fls
*.log
*.pyg
*.synctex.gz
*.fdb_latexmk
*.pygstyle
_minted-report

# data files
*.csv
*.png
!**/images/*.png

# ide-generated
*.iml
.idea
